.container{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 2fr ;
    gap: 1px;
    grid-template-areas: "celda1 celda2"
                         "celda3 celda4"
                         "celda5 celda4"       
    ;
}
.container div{
    background-color: aquamarine;
}
.c1{
    grid-area:celda1 ;
}
.c2{
    grid-area:celda2;
}
.c3{
    grid-area:celda3;
}
.c4{
    display: grid;
    grid-area:celda4;
    gap: 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
}
.l4{
    grid-row: 3/ span1;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.c4 div{
    background-color: blueviolet;
}
.c4 header{
    background-color: blueviolet;
}
.c5{
    grid-area: celda5;
}
