* {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: min-content auto min-content;
}

header .imagenes {
    display: grid;
    height: 200px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "aguilas navegador federacion";
}

.tequiere {
    grid-area: aguilas;
}

.federacion {
    grid-area: federacion;
}

.navegador {
    grid-area: navegador;
}

header .tequiere {
    width: 500px;
}

header .federacion {
    width: 290px;
}

.navegador ul {
    display: grid;
    height: 200px;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "inicio registros"
        "tickets contacto";
    list-style: none;
    text-align: center;
    align-items: center;
    justify-items: center;

}


.navegador ul li {
    width: 200px;
    border-width: medium;
    border-color: rgb(145, 228, 235);
    border-radius: 10px;
    border-style: ridge;
    background: linear-gradient(rgb(107, 107, 160),white);
}
.navegador ul a {
    width: 200px;
    text-decoration: none;
    color: black;
 
}

.inicio {
    grid-area: inicio;
}

.tickets {
    grid-area: tickets;
}

.registros {
    grid-area: registros;
}

.contacto {
    grid-area: contacto;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "formulariosillas formularioEvento";
    justify-items: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: rgb(12, 11, 14);
    padding: 5px 5px 20px 0;
}

.cantidad {
    margin: 30px 0;
}

.Zona {
    margin: 30px;

}

.Dia {
    margin: 30px 15px;

}

.Comprar {
    margin: 30px;
    color: black;
    background: linear-gradient(rgb(33, 140, 233),white);
    border: none;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
}
.Comprar:hover{
    background:linear-gradient(rgb(75, 153, 87),white);
}



.formulariosillas {
    grid-area: formulariosillas;
    border-color: black solid 1px;
    grid-area: formulariosillas;
}

.formularioEvento {
    grid-area: formularioEvento;
}

footer {
    border-top: 15px groove black;
    margin-top: 50px;
    background: linear-gradient(rgb(69, 65, 65), rgb(193, 190, 190));

}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 60px;
    margin-top: 20px;
}
footer ul a{
    text-decoration: none;
    color: white ;
}

footer .text {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
@media(min-width:600px) and (max-width:1000px){
    main{
        grid-template-columns: 100%;
        grid-template-rows: 3fr
                            3fr;
        grid-template-areas: "formulariosillas"
                            "formularioEvento";
        margin: auto;                                        
    }

}